body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    text-align: center;
    padding: 20px;
}

.form-container {
    margin-bottom: 20px;
}

input, textarea {
    width: 60%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    color: blue;
}

.blog-card {
    background: white;
    width: 60%;
    margin: 15px auto;
    padding: 15px;
    
    text-align: left;
}

.delete-btn {
    background: red;
}

.edit-btn {
    background: green;
}
